@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<div class="text-center">
    <h1 class="display-4">Witaj @UserManager.GetUserName(User)</h1>
    
    <h1 class="display-4">PROGRAM FIZZBUZZ</h1><br />
    <p>Podaj liczbę od 1 do 1000</p>
    <form method="post">
        <div class="form-row">
            <div class="form-group col-md">
                <label asp-for="FizzBuzz.Wynik"></label><br />
                <input type="text" asp-for="FizzBuzz.Liczba" required />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sprawdź</button>
    </form>
    <span asp-validation-for="FizzBuzz.Liczba" class="text-danger"></span>
    <br /><h1> @ViewData["Message"] </h1>


</div>
